.letter {
    display: inline;
    padding: 10px;
    border-bottom: 1px white solid;
    margin: 10px;
}

.hide {
    border-bottom: 1px whitesmoke solid;
    color: transparent;
}

.reveal {
   border-bottom: 1px white solid;
    color: white;
}

.footer {
    position:fixed;
    bottom: 0;
    height: 10%;
}

.space {
    display: inline;
    padding: 10px;    
    margin: 10px;
}