#a {
   border-bottom: 1px white solid;
    color: transparent;
}

#a-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#b {
   border-bottom: 1px white solid;
    color: transparent;
}

#b-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#c {
   border-bottom: 1px white solid;
    color: transparent;
}

#c-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#d {
   border-bottom: 1px white solid;
    color: transparent;
}

#d-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#e {
   border-bottom: 1px white solid;
    color: transparent;
}

#e-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#f {
   border-bottom: 1px white solid;
    color: transparent;
}

#f-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#g {
   border-bottom: 1px white solid;
    color: transparent;
}

#g-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#h {
   border-bottom: 1px white solid;
    color: transparent;
}

#h-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#i {
   border-bottom: 1px white solid;
    color: transparent;
}

#i-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#j {
   border-bottom: 1px white solid;
    color: transparent;
}

#j-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#k {
   border-bottom: 1px white solid;
    color: transparent;
}

#k-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#l {
   border-bottom: 1px white solid;
    color: transparent;
}

#l-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#m {
   border-bottom: 1px white solid;
    color: transparent;
}

#m-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#n {
   border-bottom: 1px white solid;
    color: transparent;
}

#n-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#o {
   border-bottom: 1px white solid;
    color: transparent;
}

#o-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#p {
   border-bottom: 1px white solid;
    color: transparent;
}

#p-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#q {
   border-bottom: 1px white solid;
    color: transparent;
}

#q-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#r {
   border-bottom: 1px white solid;
    color: transparent;
}

#r-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#s {
   border-bottom: 1px white solid;
    color: transparent;
}

#s-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#t {
   border-bottom: 1px white solid;
    color: transparent;
}

#t-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#u {
   border-bottom: 1px white solid;
    color: transparent;
}

#u-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#v {
   border-bottom: 1px white solid;
    color: transparent;
}

#v-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#w {
   border-bottom: 1px white solid;
    color: transparent;
}

#w-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#x {
   border-bottom: 1px white solid;
    color: transparent;
}

#x-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#y {
   border-bottom: 1px white solid;
    color: transparent;
}

#y-reveal {
   border-bottom: 1px white solid;
    color: white;
}

#z {
    border-bottom: 1px whitesmoke solid;
    color: transparent;
}

#z-reveal {
   border-bottom: 1px white solid;
    color: white;
}

.footer {
    position:fixed;
    bottom: 0;
    height: 10%;
}