#a {
    border-bottom: 1px black solid;
    color: transparent;
}

#a-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#b {
    border-bottom: 1px black solid;
    color: transparent;
}

#b-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#c {
    border-bottom: 1px black solid;
    color: transparent;
}

#c-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#d {
    border-bottom: 1px black solid;
    color: transparent;
}

#d-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#e {
    border-bottom: 1px black solid;
    color: transparent;
}

#e-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#f {
    border-bottom: 1px black solid;
    color: transparent;
}

#f-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#g {
    border-bottom: 1px black solid;
    color: transparent;
}

#g-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#h {
    border-bottom: 1px black solid;
    color: transparent;
}

#h-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#i {
    border-bottom: 1px black solid;
    color: transparent;
}

#i-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#j {
    border-bottom: 1px black solid;
    color: transparent;
}

#j-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#k {
    border-bottom: 1px black solid;
    color: transparent;
}

#k-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#l {
    border-bottom: 1px black solid;
    color: transparent;
}

#l-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#m {
    border-bottom: 1px black solid;
    color: transparent;
}

#m-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#n {
    border-bottom: 1px black solid;
    color: transparent;
}

#n-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#o {
    border-bottom: 1px black solid;
    color: transparent;
}

#o-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#p {
    border-bottom: 1px black solid;
    color: transparent;
}

#p-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#q {
    border-bottom: 1px black solid;
    color: transparent;
}

#q-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#r {
    border-bottom: 1px black solid;
    color: transparent;
}

#r-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#s {
    border-bottom: 1px black solid;
    color: transparent;
}

#s-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#t {
    border-bottom: 1px black solid;
    color: transparent;
}

#t-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#u {
    border-bottom: 1px black solid;
    color: transparent;
}

#u-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#v {
    border-bottom: 1px black solid;
    color: transparent;
}

#v-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#w {
    border-bottom: 1px black solid;
    color: transparent;
}

#w-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#x {
    border-bottom: 1px black solid;
    color: transparent;
}

#x-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#y {
    border-bottom: 1px black solid;
    color: transparent;
}

#y-reveal {
    border-bottom: 1px black solid;
    color: black;
}

#z {
    border-bottom: 1px black solid;
    color: transparent;
}

#z-reveal {
    border-bottom: 1px black solid;
    color: black;
}